.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}
.killed{
    background-color:orangered;
}
.unkilled{
    background-color:lawngreen;
}
:host{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Kill-Slider{
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.5);
}
.Current-Kill{
    width: 100%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}
.h1{
    color: aliceblue;
}